#root {
  margin: 0 auto;
  text-align: center;
}

.box {
  width: 300px;
  min-height: 500px;
  border-radius: 4px;
  background-color: #87C4FF;
  padding: 7px;
}

.todo-form {
  margin-top: 0.3em;
}

.add-input {
  width: 200px;
  margin-right: 0.7em;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 3px dotted white;
  background-color: transparent;
  font-size: 20px;
}

.add-btn {
  font-size: 12px;
  background-color: yellow;
  color: black;
  padding: 7px;
  border: none;
  outline: none;
}

.add-btn:hover {
  border: none;
  outline: none;
}

.todo {
  text-align: left;
  margin-top: 0.5em;
  font-size: medium;
  color: navy;
  font-weight: bold;
}

.edit-btn {
  font-size: 12px;
  background-color: whitesmoke;
  color: black;
  padding: 4px;
  margin-bottom: 0.7em;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}

.todoform {
  display: flex;
  justify-content: space-between;
  margin: 10px 7px;
}